conda.enabled = true

// INPUT - OUTPUT PARAMETERS
params.reads = "/scratch/home/lgomez/workshop_resistencia/data/*_R{1,2}_*.fastq.gz"
params.out = "/scratch/home/lgomez/workshop_resistencia/flow_assembly/out/"


// REFERENCE PARAMETERS
params.ref_8325 = "/scratch/home/lgomez/workshop_resistencia/references/GCF_000013425.1/GCF_000013425.1_ASM1342v1_genomic.fna"
params.ref_N315 = "/scratch/home/lgomez/workshop_resistencia/references/GCF_000009645.1/GCF_000009645.1_ASM964v1_genomic.fna"
params.ref_CA12 = "/scratch/home/lgomez/workshop_resistencia/references/GCF_001045795.2/GCF_001045795.2_ASM104579v2_genomic.fna"


params.gff_8325 = "/scratch/home/lgomez/workshop_resistencia/references/GCF_000013425.1/GCF_000013425.1_ASM1342v1_genomic.gff"
params.gff_N315 = "/scratch/home/lgomez/workshop_resistencia/references/GCF_000009645.1/GCF_000009645.1_ASM964v1_genomic.gff"
params.gff_CA12 = "/scratch/home/lgomez/workshop_resistencia/references/GCF_001045795.2/GCF_001045795.2_ASM104579v2_genomic.gff"

