conda.enabled = true

// INPUT - OUTPUT PARAMETERS
params.reads = "/home/lgomez/workshop_resistencia/data/*_R{1,2}_*.fastq.gz"
params.out = "/home/lgomez/workshop_resistencia/flow_assembly/out/"


// REFERENCE PARAMETERS
params.refdir_8325 = "/home/lgomez/workshop_resistencia/references/GCF_000013425.1/"
params.refname_8325 = "GCF_000013425.1_ASM1342v1_genomic.fna"
params.refdir_N315 = "/home/lgomez/workshop_resistencia/references/GCF_000009645.1/"
params.refname_N315 = "GCF_000009645.1_ASM964v1_genomic.fna"
params.refdir_CA12 = "/home/lgomez/workshop_resistencia/references/GCF_001045795.2/"
params.refname_CA12 = "GCF_001045795.2_ASM104579v2_genomic.fna"

params.gff_8325 = "GCF_000013425.1_ASM1342v1_genomic.gff"
params.gff_N315 = "GCF_000009645.1_ASM964v1_genomic.gff"
params.gff_CA12 = "GCF_001045795.2_ASM104579v2_genomic.gff"

// ENABLE DOCKER
docker {
    enabled = true
    temp = 'auto'
    fixOwnership = true
}
