conda.enabled = true

// INPUT-OUTPUT PARAMETERS
params.fastas = "/scratch/home/lgomez/workshop_resistencia/flow_assembly/out/spades_scaffolds/*fasta"
params.reads = "/scratch/home/lgomez/workshop_resistencia/flow_assembly/out/fastp/*_R{1,2}.fastq.gz"
params.out = "/scratch/home/lgomez/resistencia/out/"


// RESSITANCE DATABASES
params.db_res = "/scratch/home/lgomez/resistencia/resfinder_db/resfinder_db/"
params.db_vir = "/scratch/home/lgomez/resistencia/resfinder_db/virulencefinder_db/"
params.condaYaml = "/scratch/home/lgomez/resistencia/condaenvironment.yml"

params.card_db = '/home/lgomez/resistencia/card.json'
params.resfam = "/scratch/home/lgomez/resistencia/Resfams-full.hmm"


params.ncrs = 10
