conda.enabled = true

// INPUT-OUTPUT PARAMETERS
params.fastas = "/home/lgomez/workshop_resistencia/flow_assembly/out/spades/*fasta"
params.reads = "/home/lgomez/workshop_resistencia/flow_assembly/out/fastp/*_R{1,2}.fastq.gz"
params.out = "/home/lgomez/workshop_resistencia/flow_resistance/out/"


// RESSITANCE DATABASES
params.db_res = "/home/lgomez/workshop_resistencia/databases/resfinder_db/"
params.db_vir = "/home/lgomez/workshop_resistencia/databases/virulencefinder_db/"

params.card_db = '/home/lgomez/workshop_resistencia/databases/rgi/card.json'
params.resfam_dir = "/home/lgomez/workshop_resistencia/databases/resfam/"
params.resfam_name = "Resfams-full.hmm"

params.ncrs = 10

// ENABLE DOCKER
docker {
    enabled = true
    temp = 'auto'
    fixOwnership = true
}
