
params.reads = "/home/lgomez/workshop_resistencia/data/*_R{1,2}_*.fastq.gz"
params.refdir = "/home/lgomez/workshop_resistencia/references/GCF_001045795.2"
params.refname = "GCF_001045795.2_ASM104579v2_genomic.fna"

params.out = "/home/lgomez/workshop_resistencia/exercise_steps/out/"


docker {
    enabled = true
    temp = 'auto'
    fixOwnership = true
}
